<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ivang.space</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="page">
<ul class="topnav">
    <li> <div class="typewriter"><h1 class="header_moving">ivang.space/</h1></div></li>
    <li><a href="index.html"><h1 class="header">home</h1></a></li>
    <li><h1 class="header">/</h1></li>
    <li><a href="aboutme.html"><h1 class="header_underlined">aboutme</h1></a></li>
    <li><h1 class="header">/</h1></li>
    <li><a href="learn.html"><h1 class="header">learn</h1></a></li>
</ul>
</body>
</html>